.answer {
    display: block;
    margin-top: 5%;
    color: white;
    background-color: purple;
    
}

.answerChoice__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: purple;
    border-color: purple;
    color: white;
}