
#welcome__Container {
    display: flex;
    flex-direction: column;
    margin: 10px 50px 10px 50px;
    text-align: center;
    font-weight: bold;
}


#welcome__Highscore {
    text-align: left;
    margin-right: 50%;
    color: purple;
}

#welcome__Time {
    text-align: left;
}

#welcome__Title {
    text-align: center;
}

#start__Button {
    background-color: purple;
    color: white;
    border-radius: 10%; 
    margin: auto;
    display: flex;  
}